<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hello.mapper.PostMapper" >
    <!--    result maps     -->
    <resultMap id="PostResultMap" type="hello.model.Post" >
        <id column="id" property="id"  />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="created" property="created" />
        <!--    collections of comments     -->
        <collection property="comments" ofType="hello.model.Comment"
                    column="id" select="selectCommentFromPost" />
        <!--    collections of tags     -->
        <collection property="tags" ofType="hello.model.Tag"
                    column="id" select="selectTagFromPost" />
    </resultMap>
    
    <resultMap id="postCountByTag" type="TagWithCount">
        <result column="tag_count" property="count"></result>
        <result column="name" property="name"></result>
    </resultMap>

    <select id="getAllPosts" resultMap="PostResultMap">
        SELECT
        id,
        title,
        content,
        created
        FROM
        post
    </select>

    <select id="getPostsByTag" resultMap="PostResultMap" parameterType="java.lang.String">
        SELECT
        p.id,
        p.title,
        p.content,
        p.created
        FROM
        post p
        LEFT JOIN post_tag pt
        ON pt.post_id = p.id
        LEFT JOIN tag t
        ON pt.tag_id = t.id
        WHERE
        t.name = #{tagName}
    </select>


    <!--    one to many select  -->
    <select id="getPostById" resultMap="PostResultMap" parameterType="java.lang.Long" resultType="hello.model.Post">
        SELECT
        id,
        title,
        content,
        created
        FROM
        post
        WHERE id = #{id}
    </select>

    <select id="selectCommentFromPost"
            parameterType="java.lang.Long"
            resultType="hello.model.Comment">
        SELECT
        id,
        content,
        created
        FROM
        comment
        WHERE
        post_id = #{id}
    </select>

    <select id="selectTagFromPost"
            parameterType="java.lang.Long"
            resultType="hello.model.Tag">
        SELECT
        t.id,
        t.name
        FROM
        post p
        LEFT JOIN post_tag pt
        ON pt.post_id = p.id
        LEFT JOIN tag t
        ON pt.tag_id = t.id
        WHERE
        post_id = #{id}
    </select>

    <select id="countPostsByTags" resultMap="postCountByTag">
        SELECT
        t.name, count(post_id)
        AS tag_count
        FROM post_tag pt
        INNER JOIN tag t
        WHERE t.id = pt.tag_id
        GROUP BY t.id
        ORDER BY
        tag_count
        DESC;
    </select>

    <insert id="savePost" parameterType="hello.model.Post" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO post
        (
        title, content, created
        )
        VALUES
        (
        #{title}, #{content}, #{created}
        )
    </insert>

    <insert id="insertPostTags" parameterType="hello.model.Post">
        INSERT INTO post_tag
        (
        post_id, tag_id
        )
        VALUES
        <foreach collection="tags" item="item" index="index" separator=",">
            (#{id}, #{item.id})
        </foreach>
    </insert>
</mapper>